<div id="sidebar">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Navigation</h3>
  </div>
  <div class="panel-body">
  <% if session[:user_id] %>
    <p><%= link_to 'All Books', books_path %></p>
    <p><%= link_to 'My Reservations', reservations_path %></p>
    <% if session[:is_admin] %>
       <p><%= link_to 'Create Book', new_book_path %></p>
    <% end %> 
    <p><%= link_to 'Logout', logout_path, method: :delete %></p>
  <% end %>
  </div>
</div>
</div>
